// if(tuViejo == zapatero) {
// zarpale la lata
// } else {
//  rancamo en la esquina
// }

// if(sePreparo){
//  a su amiga la llamaba
// } else {
//  salio de rumba nada le importa
//}

@mixin condicion($color){
    background-color: $color;

    @if color == orange{
        border-radius: 10px;
        paddig: 20px 10 px;
    } @else {
        border-radius: 2px;
        padding: 10px;
    }

}

.fetal-position {
    @include condicion(orange)
}

.crujir-de-dientes{
    @include condicion(blue)
}